Repository HI-dle/rouby, pull requests merged in 2025-08, with the labels that each got.

#192 [#93][fe][schedule] fullcalendar 활용한 월간 일정 뷰 구현
  .gitignore
  front/package-lock.json
  front/package.json
  front/src/components/common/ToggleSwitch.vue
  front/src/components/common/date-picker/Monthly.vue
  front/src/components/common/date-picker/Weekly.vue
  front/src/components/common/date-picker/WeeklyMonthlyDatePicker.vue
  front/src/features/auth/usePasswordForm.js
  front/src/features/schedule/useScheduleCalendar.js
  front/src/features/schedule/useScheduleForm.js
  front/src/features/schedule/useScheduleList.js
  front/src/features/schedule/views/CreateScheduleView.vue
  front/src/features/schedule/views/DailyScheduleListView.vue
  front/src/features/schedule/views/MonthlyScheduleCalendarView.vue
  front/src/router/index.js
  front/src/shared/composable/useDatePickerGestures.js
  front/src/shared/composable/useDatePickerSelectedDate.js
  front/src/shared/composable/useDatePickerState.js
  front/src/shared/utils/dateTimeUtils.js
  front/src/shared/utils/dateUtils.js
  front/src/stores/useScheduleStore.js
  front/src/styles/fullCalendarCustom.css
  front/src/styles/main.css
Labels: ✨ feature, 🎨 front

#188 [#67][fe][user] 회원별 상태설정 화면
  front/src/features/user/api.js
  front/src/features/user/components/MyPageUserInfoForm.vue
  front/src/features/user/dto.js
  front/src/features/user/useUserInfoForm.js
  front/src/features/user/userService.js
  front/src/features/user/views/MyPageUserInfoView.vue
  front/src/router/index.js
Labels: ✨ feature, 🎨 front

#195 [#120][be][schedule] Schedule 테스트 코드 수정
  back/src/test/java/com/rouby/schedule/data/JdbcTestDataRepository.java
  back/src/test/java/com/rouby/schedule/data/ScheduleTestDataFactory.java
  back/src/test/java/com/rouby/schedule/data/ScheduleTestDataSaver.java
Labels: ✅ test, 🛠️ backend

#190 [#83][fe][routine] 데일리태스크 생성/수정 화면 구현
  front/src/features/routine-task/RoutineTaskService.js
  front/src/features/routine-task/api.js
  front/src/features/routine-task/components/DailyTaskForm.vue
  front/src/features/routine-task/useDailyTaskForm.js
  front/src/features/routine-task/views/DetailRoutineTaskView.vue
  front/src/features/user/api.js
  front/src/router/index.js
  front/src/shared/utils/dateTimeUtils.js
Labels: 🎨 frontend

#204 [#29][be][prompt 프롬프트 도메인 생성
  back/src/docs/asciidoc/index.adoc
  back/src/docs/asciidoc/prompt.adoc
  back/src/main/java/com/rouby/assistant/prompt/application/PromptFacade.java
  back/src/main/java/com/rouby/assistant/prompt/application/command/CreatePromptCommand.java
  back/src/main/java/com/rouby/assistant/prompt/application/exception/PromptErrorCode.java
  back/src/main/java/com/rouby/assistant/prompt/application/exception/PromptException.java
  back/src/main/java/com/rouby/assistant/prompt/application/info/PromptInfo.java
  back/src/main/java/com/rouby/assistant/prompt/application/service/PromptReadService.java
  back/src/main/java/com/rouby/assistant/prompt/application/service/PromptWriteService.java
  back/src/main/java/com/rouby/assistant/prompt/domain/Prompt.java
  back/src/main/java/com/rouby/assistant/prompt/domain/PromptRepository.java
  back/src/main/java/com/rouby/assistant/prompt/domain/enums/PromptType.java
  back/src/main/java/com/rouby/assistant/prompt/infrastructure/persistence/PromptJpaRepository.java
  back/src/main/java/com/rouby/assistant/prompt/infrastructure/persistence/PromptJpaRepositoryCustom.java
  back/src/main/java/com/rouby/assistant/prompt/presentation/PromptController.java
  back/src/main/java/com/rouby/assistant/prompt/presentation/request/CreatePromptRequest.java
  back/src/main/java/com/rouby/common/config/GeminiConfig.java
  back/src/test/java/com/rouby/assistant/prompt/presentation/PromptControllerTest.java
  back/src/test/java/com/rouby/common/support/ControllerTestSupport.java
Labels: ✨ feature, 🛠️ backend
