Repository HI-dle/rouby, pull requests merged in 2025-07, with the labels that each got.

#99 [be][user] 초기 세팅
  back/src/main/java/com/rouby/user/application/UserFacade.java
  back/src/main/java/com/rouby/user/domain/entity/AuthProvider.java
  back/src/main/java/com/rouby/user/domain/entity/CommunicationTone.java
  back/src/main/java/com/rouby/user/domain/entity/DailyActiveTime.java
  back/src/main/java/com/rouby/user/domain/entity/InterestKeywords.java
  back/src/main/java/com/rouby/user/domain/entity/NotificationSetting.java
  back/src/main/java/com/rouby/user/domain/entity/NotificationType.java
  back/src/main/java/com/rouby/user/domain/entity/User.java
  back/src/main/java/com/rouby/user/domain/entity/UserRole.java
  back/src/main/java/com/rouby/user/domain/repository/UserRepository.java
  back/src/main/java/com/rouby/user/infrastructure/persistence/jpa/UserJpaRepository.java
  back/src/main/java/com/rouby/user/infrastructure/persistence/jpa/UserJpaRepositoryCustom.java
  back/src/main/java/com/rouby/user/infrastructure/persistence/jpa/UserJpaRepositoryCustomImpl.java
  back/src/main/java/com/rouby/user/presentation/UserController.java
Labels: ✨ feature, 🛠️ backend

#100 [be][schedule] 스케쥴 기본 세팅
  back/src/main/java/com/rouby/schedule/application/facade/ScheduleFacade.java
  back/src/main/java/com/rouby/schedule/domain/entity/Schedule.java
  back/src/main/java/com/rouby/schedule/domain/enums/AlarmOffsetType.java
  back/src/main/java/com/rouby/schedule/domain/enums/OverrideType.java
  back/src/main/java/com/rouby/schedule/domain/vo/Period.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepository.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepositoryCustom.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepositoryCustomImpl.java
  back/src/main/java/com/rouby/schedule/presentation/ScheduleController.java
Labels: ✨ feature, 🛠️ backend

#102 [be][schedule] 일정 생성 api 구현 및 rest-docs 생성
  back/build.gradle
  back/src/docs/asciidoc/index.adoc
  back/src/docs/asciidoc/schedule.adoc
  back/src/main/java/com/rouby/schedule/application/dto/command/CreateScheduleCommand.java
  back/src/main/java/com/rouby/schedule/application/facade/ScheduleFacade.java
  back/src/main/java/com/rouby/schedule/application/service/ScheduleWriteService.java
  back/src/main/java/com/rouby/schedule/domain/entity/RecurrenceRuleStringConverter.java
  back/src/main/java/com/rouby/schedule/domain/entity/Schedule.java
  back/src/main/java/com/rouby/schedule/domain/enums/AlarmOffsetType.java
  back/src/main/java/com/rouby/schedule/domain/enums/ByDay.java
  back/src/main/java/com/rouby/schedule/domain/enums/Freq.java
  back/src/main/java/com/rouby/schedule/domain/repository/ScheduleRepository.java
  back/src/main/java/com/rouby/schedule/domain/vo/OverrideInfo.java
  back/src/main/java/com/rouby/schedule/domain/vo/Period.java
  back/src/main/java/com/rouby/schedule/domain/vo/RecurrenceRule.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepository.java
  back/src/main/java/com/rouby/schedule/presentation/ScheduleController.java
  back/src/main/java/com/rouby/schedule/presentation/dto/request/CreateScheduleRequest.java
  back/src/main/resources/static/docs/index.html
  back/src/main/resources/static/docs/schedule.html
  back/src/test/java/com/rouby/common/security/WithMockCustomUser.java
  back/src/test/java/com/rouby/common/security/WithMockCustomUserSecurityContextFactory.java
  back/src/test/java/com/rouby/common/support/ControllerTestSupport.java
  back/src/test/java/com/rouby/schedule/presentation/ScheduleControllerTest.java
Labels: ✨ feature, 🛠️ backend

#101 [be][notification] 초기 세팅
  back/src/main/java/com/rouby/notification/application/facade/notificationlog/NotificationLogFacade.java
  back/src/main/java/com/rouby/notification/application/service/EmailLogService.java
  back/src/main/java/com/rouby/notification/domain/entity/emaillog/EmailAddress.java
  back/src/main/java/com/rouby/notification/domain/entity/emaillog/EmailContent.java
  back/src/main/java/com/rouby/notification/domain/entity/emaillog/EmailLog.java
  back/src/main/java/com/rouby/notification/domain/entity/emaillog/SendStatus.java
  back/src/main/java/com/rouby/notification/domain/entity/notificationlog/NotificationLog.java
  back/src/main/java/com/rouby/notification/domain/entity/notificationlog/NotificationMessage.java
  back/src/main/java/com/rouby/notification/domain/entity/notificationlog/NotificationType.java
  back/src/main/java/com/rouby/notification/domain/entity/notificationlog/SendStatus.java
  back/src/main/java/com/rouby/notification/domain/repository/emaillog/EmailLogRepository.java
  back/src/main/java/com/rouby/notification/domain/repository/notificationlog/NotificationLogRepository.java
  back/src/main/java/com/rouby/notification/infrastructure/persistence/jpa/emaillog/EmailLogJpaRepository.java
  back/src/main/java/com/rouby/notification/infrastructure/persistence/jpa/emaillog/EmailLogJpaRepositoryCustom.java
  back/src/main/java/com/rouby/notification/infrastructure/persistence/jpa/emaillog/EmailLogJpaRepositoryCustomImpl.java
  back/src/main/java/com/rouby/notification/infrastructure/persistence/jpa/notificationlog/NotificationLogJpaRepository.java
  back/src/main/java/com/rouby/notification/infrastructure/persistence/jpa/notificationlog/NotificationLogJpaRepositoryCustom.java
  back/src/main/java/com/rouby/notification/infrastructure/persistence/jpa/notificationlog/NotificationLogJpaRepositoryCustomImpl.java
  back/src/main/java/com/rouby/notification/presentation/NotificationLogController.java
  back/src/main/java/com/rouby/notificationtemplate/domain/entity/NotificationTemplate.java
  back/src/main/java/com/rouby/notificationtemplate/domain/entity/NotificationTemplateMessage.java
  back/src/main/java/com/rouby/notificationtemplate/domain/entity/NotificationType.java
  back/src/main/java/com/rouby/notificationtemplate/domain/repository/NotificationTemplateRepository.java
  back/src/main/java/com/rouby/notificationtemplate/infrastructure/persistence/jpa/NotificationTemplateJpaRepository.java
  back/src/main/java/com/rouby/notificationtemplate/infrastructure/persistence/jpa/NotificationTemplateJpaRepositoryCustom.java
  back/src/main/java/com/rouby/notificationtemplate/infrastructure/persistence/jpa/NotificationTemplateJpaRepositoryCustomImpl.java
Labels: ✨ feature, 🛠️ backend

#106 [fe][common] 헤더, tailwind 공통 코드 작업
  front/components.json
  front/package-lock.json
  front/package.json
  front/src/App.vue
  front/src/api/axios.js
  front/src/assets/header_logo.svg
  front/src/assets/logo.svg
  front/src/assets/main.css
  front/src/components/Footer.vue
  front/src/components/Header.vue
  front/src/components/HelloWorld.vue
  front/src/components/common/BaseInput.vue
  front/src/components/common/SelectBox.vue
  front/src/components/common/ToggleSwitch.vue
  front/src/components/ui/select/Select.vue
  front/src/components/ui/select/SelectContent.vue
  front/src/components/ui/select/SelectGroup.vue
  front/src/components/ui/select/SelectItem.vue
  front/src/components/ui/select/SelectItemText.vue
  front/src/components/ui/select/SelectLabel.vue
  front/src/components/ui/select/SelectScrollDownButton.vue
  front/src/components/ui/select/SelectScrollUpButton.vue
  front/src/components/ui/select/SelectSeparator.vue
  front/src/components/ui/select/SelectTrigger.vue
  front/src/components/ui/select/SelectValue.vue
  front/src/components/ui/select/index.js
  front/src/features/routine/views/DailyRoutineView.vue
  front/src/features/routine/views/RoutineLayout.vue
  front/src/features/schedule/views/DailyScheduleView.vue
  front/src/features/schedule/views/ScheduleLayout.vue
  front/src/features/user/views/MypageView.vue
  front/src/layouts/AuthLayout.vue
  front/src/layouts/DefaultLayout.vue
  front/src/lib/utils.js
  front/src/main.js
  front/src/router/index.js
  front/src/styles/base.css
  front/src/styles/main.css
  front/src/views/AboutView.vue
  front/src/views/HomeView.vue
  front/tailwind.config.js
Labels: ✨ feature, 🎨 front

#115 [#57][fe][user] feat : 로그인 화면 생성 및 api 연동
  back/src/main/java/com/rouby/auth/presentation/AuthController.java
  front/package-lock.json
  front/src/assets/apple.svg
  front/src/assets/google.svg
  front/src/assets/kakao.svg
  front/src/features/auth/loginApi.js
  front/src/features/auth/storeToken.js
  front/src/features/auth/views/LoginView.vue
  front/src/router/index.js
Labels: 🎨 front

#124 [#105][common][fe] 공통 css 수정, 컴포넌트 추가 작업
  front/src/components/Footer.vue
  front/src/components/Header.vue
  front/src/components/TheWelcome.vue
  front/src/components/WelcomeItem.vue
  front/src/components/common/FieldError.vue
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/layouts/AuthLayout.vue
  front/src/layouts/DefaultLayout.vue
  front/src/router/index.js
  front/src/styles/base.css
  front/src/styles/main.css
Labels: ⚙️ setting, ✨ feature, 🎨 front

#130 [#105][fe][common] 버튼 컴포넌트 추가 및 css 보완
  front/src/components/common/BaseButton.vue
  front/src/components/common/BaseInput.vue
  front/src/components/common/SelectBox.vue
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/features/schedule/views/CreateScheduleView.vue
  front/src/router/index.js
  front/tailwind.config.js
Labels: 🎨 front, ♻️ refactor

#110 [be][user] 회원가입 API 구현
  back/src/docs/asciidoc/error-response-fields.adoc
  back/src/docs/asciidoc/index.adoc
  back/src/docs/asciidoc/user.adoc
  back/src/main/java/com/rouby/user/application/UserFacade.java
  back/src/main/java/com/rouby/user/application/dto/command/CreateUserCommand.java
  back/src/main/java/com/rouby/user/application/exception/UserErrorCode.java
  back/src/main/java/com/rouby/user/application/exception/UserException.java
  back/src/main/java/com/rouby/user/application/service/UserWriteService.java
  back/src/main/java/com/rouby/user/domain/entity/NotificationSetting.java
  back/src/main/java/com/rouby/user/domain/entity/User.java
  back/src/main/java/com/rouby/user/domain/repository/UserRepository.java
  back/src/main/java/com/rouby/user/domain/service/UserPasswordEncoder.java
  back/src/main/java/com/rouby/user/infrastructure/persistence/jpa/UserJpaRepository.java
  back/src/main/java/com/rouby/user/infrastructure/security/SecurityPasswordEncoder.java
  back/src/main/java/com/rouby/user/presentation/UserController.java
  back/src/main/java/com/rouby/user/presentation/dto/CreateUserRequest.java
  back/src/main/java/com/rouby/user/presentation/validation/PasswordValidator.java
  back/src/main/java/com/rouby/user/presentation/validation/ValidPassword.java
  back/src/test/http/user.http
  back/src/test/java/com/rouby/user/presentation/UserControllerTest.java
  back/src/test/java/com/rouby/user/presentation/UserRequestStub.java
Labels: ✨ feature, 🛠️ backend

#134 [#4][fe][user] 회원가입 화면
  front/src/components/common/BaseButton.vue
  front/src/components/common/BaseInput.vue
  front/src/features/auth/api.js
  front/src/features/auth/authService.js
  front/src/features/auth/components/PinInput.vue
  front/src/features/auth/components/SignupForm.vue
  front/src/features/auth/constants.js
  front/src/features/auth/dto.js
  front/src/features/auth/useSignupForm.js
  front/src/features/auth/validations.js
  front/src/features/auth/views/SignupView.vue
  front/src/layouts/AuthLayout.vue
  front/src/router/index.js
  front/src/utils/errorUtils.js
  front/src/utils/formUtils.js
  front/src/utils/timerUtils.js
  front/tailwind.config.js
Labels: ✨ feature, 🎨 front

#126 [#121][be][common] 자코코 및 깃헙 액션 추가
  .github/workflows/pr-test.yml
  .gitignore
  back/.env
  back/build.gradle
  back/src/main/resources/properties/cors.yml
  back/src/main/resources/properties/redis.yml
  back/src/test/java/com/rouby/RoubyApplicationTests.java
  back/src/test/java/com/rouby/common/support/ControllerTestSupport.java
Labels: ⚙️ setting, ✅ test, 🛠️ backend

#137 [#105][fe][common] 공통 컴포넌트 class 속성 보완 및 추가
  front/src/components/common/BaseButton.vue
  front/src/components/common/BaseInput.vue
  front/src/components/common/BaseModal.vue
  front/src/components/common/FieldError.vue
  front/src/components/common/SelectBox.vue
  front/src/components/common/ToggleSwitch.vue
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/features/schedule/useScheduleForm.js
  front/src/features/schedule/views/CreateScheduleView.vue
Labels: ✨ feature, 🎨 front

#125 [#70][be][user] 비밀번호 링크 전송 api 추가
  back/.gitignore
  back/src/docs/asciidoc/user.adoc
  back/src/main/java/com/rouby/common/props/URIProperty.java
  back/src/main/java/com/rouby/notification/email/application/dto/SendResetPasswordEmailCommand.java
  back/src/main/java/com/rouby/notification/email/application/service/EmailService.java
  back/src/main/java/com/rouby/notification/email/application/utils/ResetPasswordEmailData.java
  back/src/main/java/com/rouby/notification/email/infrastructure/messaging/EmailTemplateCreatorImpl.java
  back/src/main/java/com/rouby/user/application/UserFacade.java
  back/src/main/java/com/rouby/user/application/dto/command/FindPasswordCommand.java
  back/src/main/java/com/rouby/user/application/dto/command/ResetPasswordCommand.java
  back/src/main/java/com/rouby/user/application/exception/UserErrorCode.java
  back/src/main/java/com/rouby/user/application/service/UserReadService.java
  back/src/main/java/com/rouby/user/application/service/UserWriteService.java
  back/src/main/java/com/rouby/user/application/service/verification/VerificationPasswordTokenStorage.java
  back/src/main/java/com/rouby/user/domain/entity/User.java
  back/src/main/java/com/rouby/user/domain/repository/UserRepository.java
  back/src/main/java/com/rouby/user/infrastructure/persistence/jpa/UserJpaRepositoryCustomImpl.java
  back/src/main/java/com/rouby/user/infrastructure/persistence/redis/RedisVerificationPasswordTokenStorage.java
  back/src/main/java/com/rouby/user/presentation/UserController.java
  back/src/main/java/com/rouby/user/presentation/dto/request/FindPasswordRequest.java
  back/src/main/java/com/rouby/user/presentation/dto/request/ResetPasswordRequest.java
  back/src/main/resources/mail_template/email-verification.html
  back/src/main/resources/mail_template/reset-password-email-verification.html
  back/src/main/resources/properties/base.yml
  back/src/main/resources/properties/jpa.yml
  back/src/test/java/com/rouby/user/presentation/UserControllerTest.java
Labels: ✨ feature, 🛠️ backend

#129 [#33][be][assistant] AI 연결 및 테스트
  back/build.gradle
  back/src/main/java/com/rouby/assistant/recommendation/infrastructure/ai/test/TestController.java
  back/src/main/java/com/rouby/assistant/recommendation/infrastructure/ai/test/TestService.java
  back/src/main/java/com/rouby/assistant/recommendation/infrastructure/ai/test/dto/TestRequest.java
  back/src/main/java/com/rouby/assistant/recommendation/infrastructure/ai/test/dto/TestResponse.java
  back/src/main/resources/application.yml
  back/src/main/resources/properties/ai.yml
  back/src/test/java/com/rouby/e2e/Aie2e.http
Labels: 🛠️ backend

#135 [#133][fe][user]refactor: 로그인 페이지 컴포넌트 분리 및 재구성
  front/src/features/auth/components/LoginForm.vue
  front/src/features/auth/components/SocialLoginButton.vue
  front/src/features/auth/useLoginForm.js
  front/src/features/auth/views/LoginView.vue
Labels: 🎨 front, ♻️ refactor

#107 [be][routine] 초기 세팅
  back/src/main/java/com/rouby/routine/application/facade/RoutineFacade.java
  back/src/main/java/com/rouby/routine/domain/DailyTask.java
  back/src/main/java/com/rouby/routine/domain/RoutineTask.java
  back/src/main/java/com/rouby/routine/domain/RoutineTimeInfo.java
  back/src/main/java/com/rouby/routine/domain/enums/AlarmOffsetType.java
  back/src/main/java/com/rouby/routine/domain/enums/OverrideType.java
  back/src/main/java/com/rouby/routine/domain/enums/TaskType.java
  back/src/main/java/com/rouby/routine/domain/repository/RoutineTaskRepository.java
  back/src/main/java/com/rouby/routine/infrastructure/persistence/jpa/RoutineTaskJpaRepository.java
  back/src/main/java/com/rouby/routine/infrastructure/persistence/jpa/RoutineTaskJpaRepositoryCustom.java
  back/src/main/java/com/rouby/routine/presentaion/RoutineController.java
Labels: ✨ feature, 🛠️ backend

#142 [#98][fe][user] 비밀번호 변경(마이페이지) 화면 추가
  front/src/api/axios.js
  front/src/features/auth/authService.js
  front/src/features/auth/dto.js
  front/src/features/auth/useSignupForm.js
  front/src/features/schedule/dto.js
  front/src/features/user/api.js
  front/src/features/user/components/MyPageResetPasswordForm.vue
  front/src/features/user/dto.js
  front/src/features/user/usePasswordForm.js
  front/src/features/user/userService.js
  front/src/features/user/views/MyPageResetPasswordView.vue
  front/src/router/index.js
  front/src/utils/errorUtils.js
Labels: ✨ feature, 🎨 front

#143 [#12][fe][schedule] 인풋 포커스 보완
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/features/schedule/useScheduleForm.js
  front/src/features/schedule/views/CreateScheduleView.vue
  front/src/router/index.js
Labels: 🎨 front, ♻️ refactor

#155 [#105][fe][common] 상단 헤더 주간/월간 데이트 피커 컴포넌트 추가 외
  front/.prettierrc.json
  front/package-lock.json
  front/package.json
  front/src/components/Footer.vue
  front/src/components/common/KeywordTag.vue
  front/src/components/common/date-picker/Monthly.vue
  front/src/components/common/date-picker/Weekly.vue
  front/src/components/common/date-picker/WeeklyMonthlyDatePicker.vue
  front/src/features/auth/authService.js
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/features/schedule/useScheduleForm.js
  front/src/features/schedule/views/CreateScheduleView.vue
  front/src/features/schedule/views/DailyScheduleView.vue
  front/src/features/user/usePasswordForm.js
  front/src/features/user/userService.js
  front/src/features/user/views/UserLayout.vue
  front/src/main.js
  front/src/router/index.js
  front/src/shared/composable/useDatePickerDates.js
  front/src/shared/composable/useDatePickerGestures.js
  front/src/shared/composable/useDatePickerSelectedDate.js
  front/src/shared/composable/useDatePickerState.js
  front/src/shared/composable/useKeywordValidator.js
  front/src/shared/constants/date.js
  front/src/stores/piniaSessionStorages.js
  front/src/stores/useDatePickStore.js
Labels: ✨ feature, 🎨 front

#157 [#146][be][user] 이메일 전송 제한 기능 보완
  back/src/docs/asciidoc/user.adoc
  back/src/main/java/com/rouby/notification/email/application/exception/EmailErrorCode.java
  back/src/main/java/com/rouby/user/presentation/UserController.java
  back/src/test/java/com/rouby/user/presentation/UserControllerTest.java
Labels: ✅ test, 🛠️ backend

#160 [#140][fe][user]refactor: 회원가입 API 연동 보완
  front/src/features/auth/api.js
  front/src/features/auth/authService.js
  front/src/features/auth/dto.js
  front/src/features/auth/useSignupForm.js
Labels: 🎨 front, ♻️ refactor

#163 [#120][be][schedule] 스케쥴 모델 변경에 따른 생성 api 수정 및 개선
  back/.gitignore
  back/build.gradle
  back/src/docs/asciidoc/schedule.adoc
  back/src/main/java/com/rouby/schedule/application/dto/command/CreateScheduleCommand.java
  back/src/main/java/com/rouby/schedule/domain/entity/Schedule.java
  back/src/main/java/com/rouby/schedule/domain/vo/Period.java
  back/src/main/java/com/rouby/schedule/domain/vo/RecurrenceRule.java
  back/src/main/java/com/rouby/schedule/presentation/dto/request/CreateScheduleRequest.java
  back/src/main/resources/static/docs/index.html
  back/src/main/resources/static/docs/schedule.html
  back/src/test/http/schedule.http
  back/src/test/java/com/rouby/schedule/domain/vo/RecurrenceRuleTest.java
  back/src/test/java/com/rouby/schedule/presentation/CreateScheduleRequestFixture.java
  back/src/test/java/com/rouby/schedule/presentation/ScheduleControllerTest.java
Labels: ♻️ refactor, 🛠️ backend

#166 [#165][be][common] AesEncryptUtils/ HmacSignUtils 분리
  back/src/main/java/com/rouby/common/utils/AesCryptoUtils.java
  back/src/main/java/com/rouby/common/utils/HmacSignUtils.java
  back/src/main/java/com/rouby/user/infrastructure/token/AesHmacVerificationTokenProvider.java
  back/src/test/java/com/rouby/user/infrastructure/token/AesHmacVerificationTokenProviderTest.java
Labels: ♻️ refactor, 🛠️ backend

#176 [#92][be][schedule] 일정 기간 조회 api 추가 및 도메인 수정
  back/build.gradle
  back/src/docs/asciidoc/user.adoc
  back/src/main/java/com/rouby/common/jpa/QuerydslUtil.java
  back/src/main/java/com/rouby/schedule/application/dto/command/CreateScheduleCommand.java
  back/src/main/java/com/rouby/schedule/application/dto/info/SchedulesInfo.java
  back/src/main/java/com/rouby/schedule/application/dto/query/GetScheduleQuery.java
  back/src/main/java/com/rouby/schedule/application/facade/ScheduleFacade.java
  back/src/main/java/com/rouby/schedule/application/service/ScheduleReadService.java
  back/src/main/java/com/rouby/schedule/domain/entity/RecurrenceRuleStringConverter.java
  back/src/main/java/com/rouby/schedule/domain/entity/Schedule.java
  back/src/main/java/com/rouby/schedule/domain/repository/ScheduleRepository.java
  back/src/main/java/com/rouby/schedule/domain/repository/criteria/GetScheduleCriteria.java
  back/src/main/java/com/rouby/schedule/domain/repository/info/ScheduleWithOverrides.java
  back/src/main/java/com/rouby/schedule/domain/support/UntilDateTimeFormatter.java
  back/src/main/java/com/rouby/schedule/domain/vo/Period.java
  back/src/main/java/com/rouby/schedule/domain/vo/RecurrenceRule.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepositoryCustom.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepositoryCustomImpl.java
  back/src/main/java/com/rouby/schedule/presentation/ScheduleController.java
  back/src/main/java/com/rouby/schedule/presentation/dto/request/CreateScheduleRequest.java
  back/src/main/java/com/rouby/schedule/presentation/dto/request/GetScheduleRequest.java
  back/src/main/java/com/rouby/schedule/presentation/dto/response/SchedulesResponse.java
  back/src/main/resources/properties/datasource.yml
  back/src/test/java/com/rouby/RoubyApplicationTests.java
  back/src/test/java/com/rouby/schedule/domain/vo/RecurrenceRuleTest.java
  back/src/test/java/com/rouby/schedule/presentation/CreateScheduleRequestFixture.java
  back/src/test/java/com/rouby/schedule/presentation/ScheduleControllerTest.java
  back/src/test/java/com/rouby/user/presentation/AuthControllerTest.java
Labels: ✨ feature, 🛠️ backend

#180 [#95][fe][schedule] 일간 일정 리스트 화면 작업
  front/package-lock.json
  front/package.json
  front/src/features/schedule/api.js
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/features/schedule/dto.js
  front/src/features/schedule/scheduleService.js
  front/src/features/schedule/useScheduleForm.js
  front/src/features/schedule/views/DailyScheduleView.vue
  front/src/features/schedule/views/ModifyScheduleView.vue
  front/src/router/index.js
  front/src/shared/composable/useDatePickerDates.js
  front/src/shared/utils/dateTimeUtil.js
  front/src/shared/utils/dateTimeUtils.js
  front/src/shared/utils/dateUtils.js
  front/src/shared/utils/rruleUtils.js
  front/src/stores/piniaSessionStorages.js
  front/src/stores/uaeScheduleStore.js
  front/src/stores/useDatePickStore.js
Labels: ✨ feature, 🎨 front

#179 [#92][be][schedule] 스케쥴 조회 코드 보완 및 테스트 코드 추가 외
  back/build.gradle
  back/src/main/java/com/rouby/common/config/SecurityConfig.java
  back/src/main/java/com/rouby/common/exception/GlobalExceptionHandler.java
  back/src/main/java/com/rouby/common/jpa/QuerydslUtil.java
  back/src/main/java/com/rouby/schedule/application/dto/info/SchedulesInfo.java
  back/src/main/java/com/rouby/schedule/domain/entity/Schedule.java
  back/src/main/java/com/rouby/schedule/domain/repository/ScheduleRepository.java
  back/src/main/java/com/rouby/schedule/domain/vo/Period.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepository.java
  back/src/main/java/com/rouby/schedule/presentation/ScheduleController.java
  back/src/main/java/com/rouby/schedule/presentation/dto/request/GetScheduleRequest.java
  back/src/main/java/com/rouby/schedule/presentation/dto/response/SchedulesResponse.java
  back/src/main/java/com/rouby/user/infrastructure/security/filter/JwtAuthenticationFilter.java
  back/src/test/java/com/rouby/schedule/data/ScheduleTestDataFactory.java
  back/src/test/java/com/rouby/schedule/data/ScheduleTestDataSaver.java
  back/src/test/java/com/rouby/schedule/fixture/CreateScheduleRequestFixture.java
  back/src/test/java/com/rouby/schedule/fixture/GetScheduleRequestFixture.java
  back/src/test/java/com/rouby/schedule/fixture/SchedulesInfoFixture.java
  back/src/test/java/com/rouby/schedule/presentation/ScheduleControllerTest.java
Labels: ♻️ refactor, 🛠️ backend

#168 [routine][fe] 루틴 테스크 생성 화면
  front/src/features/routine-task/RoutineTaskService.js
  front/src/features/routine-task/api.js
  front/src/features/routine-task/components/RoutineTaskForm.vue
  front/src/features/routine-task/constants.js
  front/src/features/routine-task/useRoutineTaskForm.js
  front/src/features/routine-task/validations.js
  front/src/features/routine-task/views/CreateRoutineTaskView.vue
  front/src/features/routine-task/views/RoutineTaskLayout.vue
  front/src/router/index.js
Labels: ✨ feature, 🎨 front

#175 [#68][fe][user] 루비 설정 화면 추가
  front/src/features/user/api.js
  front/src/features/user/components/MyPageRoubySettingForm.vue
  front/src/features/user/dto.js
  front/src/features/user/useRoubySettingForm.js
  front/src/features/user/userService.js
  front/src/features/user/views/MyPageResetPasswordView.vue
  front/src/features/user/views/MyPageRoubySettingView.vue
  front/src/router/index.js
Labels: ✨ feature, 🎨 front

#183 [#95][fe][schedule]일정 조회 화면 코드 보완 및 수정
  front/package-lock.json
  front/package.json
  front/src/components/common/date-picker/WeeklyMonthlyDatePicker.vue
  front/src/features/schedule/components/ScheduleForm.vue
  front/src/features/schedule/dto.js
  front/src/features/schedule/scheduleService.js
  front/src/features/schedule/useScheduleForm.js
  front/src/features/schedule/useScheduleList.js
  front/src/features/schedule/views/DailyScheduleView.vue
  front/src/features/schedule/views/ModifyScheduleView.vue
  front/src/router/index.js
  front/src/shared/composable/useDatePickerDates.js
  front/src/shared/composable/useDatePickerSelectedDate.js
  front/src/shared/composable/useDatePickerState.js
  front/src/shared/composable/useGoBack.js
  front/src/shared/utils/dateTimeUtils.js
  front/src/shared/utils/dateUtils.js
  front/src/shared/utils/rruleUtils.js
  front/src/stores/useDatePickStore.js
  front/src/stores/useScheduleStore.js
Labels: 🎨 front, ♻️ refactor

#174 [#173][be][notification]refactor: 이메일 타입 별 전송 수 조회 쿼리에 index 추가
  back/src/main/java/com/rouby/notification/email/domain/entity/EmailLog.java
  back/src/test/java/com/rouby/test/data/EmailLogInitRunner.java
Labels: ♻️ refactor, 🛠️ backend

#185 [#51][be][user] 회원 탈퇴 api 추가
  back/src/docs/asciidoc/user.adoc
  back/src/main/java/com/rouby/user/application/UserFacade.java
  back/src/main/java/com/rouby/user/application/service/UserReadService.java
  back/src/main/java/com/rouby/user/application/service/UserWriteService.java
  back/src/main/java/com/rouby/user/domain/entity/User.java
  back/src/main/java/com/rouby/user/domain/repository/UserRepository.java
  back/src/main/java/com/rouby/user/presentation/UserController.java
  back/src/test/java/com/rouby/user/presentation/UserControllerTest.java
Labels: ✨ feature, 🛠️ backend

#187 [#54][fe][user] 회원탈퇴 화면 추가
  front/package-lock.json
  front/src/assets/mypage_icon.svg
  front/src/components/Footer.vue
  front/src/components/common/BaseModal.vue
  front/src/features/user/api.js
  front/src/features/user/components/MyPageForm.vue
  front/src/features/user/useMyPageForm.js
  front/src/features/user/userService.js
  front/src/features/user/views/MyPageView.vue
  front/src/features/user/views/MypageView.vue
  front/src/router/index.js
Labels: ✨ feature, 🎨 front

#189 [#92][be][schedule]일정 기간별 조회 api 관련 수정
  back/build.gradle
  back/src/main/java/com/rouby/common/dto/ErrorResponse.java
  back/src/main/java/com/rouby/common/exception/CustomException.java
  back/src/main/java/com/rouby/common/exception/GlobalExceptionHandler.java
  back/src/main/java/com/rouby/schedule/application/exception/ScheduleErrorCode.java
  back/src/main/java/com/rouby/schedule/application/exception/ScheduleException.java
  back/src/main/java/com/rouby/schedule/application/service/ScheduleReadService.java
  back/src/main/java/com/rouby/schedule/application/service/ScheduleWriteService.java
  back/src/main/java/com/rouby/schedule/domain/vo/OverrideInfo.java
  back/src/main/java/com/rouby/schedule/domain/vo/RecurrenceRule.java
  back/src/main/java/com/rouby/schedule/infrastructure/persistence/jpa/ScheduleJpaRepositoryCustomImpl.java
  back/src/main/resources/db/schema.sql
  back/src/main/resources/properties/datasource.yml
  back/src/test/java/com/rouby/schedule/data/JdbcTestDataRepository.java
  back/src/test/java/com/rouby/schedule/data/ScheduleTestDataFactory.java
  back/src/test/java/com/rouby/schedule/data/ScheduleTestDataSaver.java
Labels: ⚡️ improve, ♻️ refactor, 🛠️ backend
